.back {
    display: flex;
    align-items: center;
    cursor: pointer;
    span {
        margin-left: 5px;
        color: #4d4d4d;
    }
    &:hover {
        svg {
            fill: darken($color: #4d4d4d, $amount: 20%);
        }
        span {
            color: darken($color: #4d4d4d, $amount: 20%);
        }
    }
}