.btn {
    width: 100%;
    max-width: 100%;
    text-align: center;
    padding: 10px;
    background-color: #4683d9;
    border-radius: 8px;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s linear;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    &:hover {
        transition: all 0.3s linear;
        background-color: darken($color: #4683d9, $amount: 5%);
    }
}